@model OnlineShopCoreWebApp.Models.Products

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <div class="row" style="margin-left:10%;">
        <img src="@Model.Image" style="width:150px;height:150px;" />
    </div><br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductColor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductTypes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductTypes.ProductType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialTags)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialTags.TagName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </form>
</div>
